{% if questionNumber is defined %}

<span id="test" data-id="{{questionNumber}}"></span>

{% endif %}


{{form_start(form, {'attr':{'id':'signup_form', 'class':'col s12'}})}}

<div id="q-1" class="row">
    <div class="center-align">
        <div class="margin-bottom-35">
            {{form_label(form.meet, null, {'label_attr' : {'class' : 'big-label'}})}}
        </div>
        <div id="user_meet" class="row">
            {% for child in form.meet %}
            <div class="col s12 m4 l4 xl4 margin-bottom-35">
                {{form_widget(child)}}
                {{form_label(child, null, {'label_attr' : {'class' : 'btn-large', 'tabindex' : '0'}})}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="q-2">
    <div class="center-align">
        <div class="margin-bottom-35">
            {{form_label(form.Gender, null, {'label_attr' : {'class' : 'big-label'}})}}
        </div>
        <div id="user_Gender" class="row">
            {% for child in form.Gender %}
            <div class="col s12 m4 l4 xl4 margin-bottom-35">
                {{form_widget(child)}}
                {{form_label(child, null, {'label_attr' : {'class' : 'btn-large', 'tabindex' : '0'}})}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div id="q-3">
    <p class="padding-20-30 bg-pink rounded fit-content white-text">Dans quelle ville habites-tu?</p>
    <div class="row">
        <div class="input-field">
            {{form_row(form.city)}}
        </div>
    </div>
    <div class="row right-align">
        <button data-id="3" class="waves-effect waves-light btn submit-field">Valider la réponse</button>
    </div>
</div>

<div id="q-4">
    <p class="padding-20-30 bg-pink rounded fit-content white-text">Quel est votre prénom?</p>
    <div class="input-field">
        {{form_row(form.firstname)}}
    </div>
    <div class="row right-align">
        <button data-id="4" class="waves-effect waves-light btn submit-field">Valider la
            réponse</button>
    </div>
</div>
<div id="q-5">
    <p class="padding-20-30 bg-pink rounded fit-content white-text">Quel est votre adresse mail?</p>
    <div class="input-field">
        {{form_row(form.email)}}
    </div>
    <div class="row right-align">
        <button data-id="5" class="waves-effect waves-light btn submit-field">Valider la
            réponse</button>
    </div>
</div>
<div id="q-6">
    <p class="padding-20-30 bg-pink rounded fit-content white-text">Choisissez un mot de passe</p>
    <div class="input-field">
        {{form_row(form.password)}}
    </div>
    <div class="row right-align">
        <button data-id="6" class="waves-effect waves-light btn submit-field">Valider la
            réponse</button>
    </div>
</div>
<div id="q-7">
    {% for child in form.birthday %}
    {{form_widget(child)}}
    {% endfor %}
</div>
<div id="q-8">
    {{form_row(form.isSerious)}}
</div>
<div id="q-9">
    {{form_row(form.isMarried)}}
</div>
<div id="q-10">
    {{form_row(form.hasChildren)}}
</div>
<div id="q-11">
    {{form_row(form.isSmoker)}}
</div>
{{form_end(form)}}
